<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProperty scope="context" name="appName" source="spring.application.name"/>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <!-- <destination>localhost:5600</destination>--> <!--local env-->
    <destination>${LOGSTASH_HOST:-localhost:5600}</destination> <!--docker env-->
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp/>
        <logLevel/>
        <loggerName/>
        <threadName/>
        <message/>
        <context/>
        <mdc/>
        <logstashMarkers/>
        <stackTrace/>
        <pattern>
          <pattern>
            {
            "appName": "${appName}",
            "environment": "${ENVIRONMENT:-dev}"
            }
          </pattern>
        </pattern>
      </providers>
    </encoder>
  </appender>
  <root level="info">
    <appender-ref ref="logstash"/>
  </root>
</configuration>